---
import Almohadones from './components_categoria/Almohadones.astro';
import Alfombras from './components_categoria/Alfombras.astro';
import Caminos from './components_categoria/Caminos.astro';
import Cortinas from './components_categoria/Cortinas.astro';
import Flores from './components_categoria/Flores.astro';
import Fundas from './components_categoria/Fundas.astro';
import Manteles from './components_categoria/Manteles.astro';
import PieDeCama from './components_categoria/PieDeCama.astro';
import Pillow from './components_categoria/Pillow.astro';
import Servilletas from './components_categoria/Servilletas.astro';
import Repasadores from './components_categoria/Repasadores.astro';
import Toallas from './components_categoria/Toallas.astro';
import Acolchados from './components_categoria/Acolchados.astro';
import Covers from './components_categoria/Covers.astro';
import Delantales from './components_categoria/Delantales.astro';
import Organizadores from './components_categoria/Organizadores.astro';

const { id } = Astro.props;

const titleCss = "text-lg sm:text-2xl  2xl:text-3xl text-center";
const offsetT = "100";
---

<section id={id} class="overflow-hidden">
  <div class="container [animation-iteration-count:infinite] delay-[100ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">
    <h2 class="text-3xl sm:text-4xl">Catálogo de productos</h2>

    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-x-[14px] gap-y-5 md:gap-x-5 md:gap-y-7">

      <Almohadones titulo = {titleCss} offset = {offsetT} redirect = "/almohadones"/>

      <Manteles titulo = {titleCss} offset = {offsetT} redirect = "/manteles"/>

      <Repasadores titulo = {titleCss} offset = {offsetT} redirect = "/repasadores"/>

      <Servilletas titulo = {titleCss} offset = {offsetT} redirect = "/servilletas"/>

      <Toallas titulo = {titleCss} offset = {offsetT} redirect = "/toallas"/>

      <Caminos titulo = {titleCss} offset = {offsetT} redirect = "/caminos"/>

      <Alfombras titulo = {titleCss} offset = {offsetT} redirect = "/alfombras"/>

      <Cortinas titulo = {titleCss} offset = {offsetT} redirect = "/cortinas"/>

      <Flores titulo = {titleCss} offset = {offsetT} redirect = "/flores"/>

      <PieDeCama titulo = {titleCss} offset = {offsetT} redirect = "/piedecama" />

      <Fundas titulo = {titleCss} offset = {offsetT} redirect = "/fundas"/>

      <Pillow titulo = {titleCss} offset = {offsetT} redirect = "/pillow"/>

      <Acolchados titulo = {titleCss} offset = {offsetT} redirect = "/acolchados"/>

      <Delantales titulo = {titleCss} offset = {offsetT} redirect = "/delantales"/>

      <Covers titulo = {titleCss} offset = {offsetT} redirect = "/covers"/>

      <Organizadores titulo = {titleCss} offset = {offsetT} redirect = "/organizadores"/>
      
    </div>
  </div>
</section>

<style is:global>
  .background-shadowed {
    background-color: #f5f3ef;
    box-shadow: -15px -12px 99px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: -15px -12px 99px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -15px -12px 99px 0px rgba(0, 0, 0, 0.1) inset;
  }

  .background-shadowed:hover {
    box-shadow: 
        -15px -12px 99px 0px rgba(0, 0, 0, 0.1) inset,
        0px 0px 15px rgba(0, 0, 0, 0.3);
        scale: 1.03;
    transition: .3s;
}
</style>
