---
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;
const isHomePage = new URL(Astro.request.url).pathname === "/";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="kewords" content={keywords} />

    <!-- Open Graph -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://bontedeco.netlify.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bonté Deco" />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/870324c4-b71e-4a6e-8541-183c509b1f2c.png?token=koboDCOpKOrDZWKk2_o3netnSJVerLFeG1q17I4YiKQ&height=655&width=1200&expires=33265650320"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="bontedeco.netlify.app" />
    <meta property="twitter:url" content="https://bontedeco.netlify.app" />
    <meta name="twitter:title" content="Bonté Deco" />
    <meta
      name="twitter:description"
      content={description}
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/870324c4-b71e-4a6e-8541-183c509b1f2c.png?token=koboDCOpKOrDZWKk2_o3netnSJVerLFeG1q17I4YiKQ&height=655&width=1200&expires=33265650320"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Mukta:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script is:inline>
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body class="bg-[#f9f9f9] overflow-auto">
    {isHomePage && <Banner />}
    <Header />
    <slot />
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js" is:inline></script>
    <script src="/scripts/preline.js" defer async is:inline></script>
  </body>
</html>
<style is:global>
  :root {
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #3c2c0b;
    scroll-behavior: smooth;
  }

  html {
    scrollbar-gutter: stable;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-wrap: pretty;
  }

  section {
    width: 100%;
    padding: 125px 5%;
  }

  .container {
    max-width: 1750px;
    margin: 0 auto;
  }

  .container.otros {
    max-width: 1250px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Italiana", sans-serif !important;
  }


  h1{
    -webkit-text-stroke: 0.5px #f9f9f9;
  }
  h2 {
    -webkit-text-stroke: 0.5px #3c2c0b;
    margin-bottom: 45px;
  }

  h3 {
    color: #373535;
    -webkit-text-stroke: 0.5px #373535;
  }

  h3 {
  }

  code {
  }
</style>
